* {
  padding: 0%;
  margin: 0%;
  font-family: "Figtree", sans-serif;
  position: relative;
}

body {
  background-image: url(violeton.jpg);
}

header {
  background-image: url(fondomorao.jpg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 60%;
  padding: 0 2vw;
  width: 100%;
}
.headertext {
  margin-top: 5%;
  background-color: #cec5f0;
  width: 120%;
  height: fit-content;
  padding: 2%;
  border-radius: 2vw;
  text-align: center;
}

.izquierda {
  display: flex;
  flex-direction: row;
}

.derecha {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3%;
}

.logotux {
  width: 20vw;
  height: 10vh;
  border-radius: 50%;
  margin-right: 1vw;
  margin-top: 1%;
}

.redeslogos {
  width: 10vw;
  height: auto;
  margin-right: 2%;
  margin-top: 3%;
}

.linus {
  width: 60vw;
  height: auto;
  padding: 2%;
  margin-top: 1%;
  background-color: #e6e0f8;
  border-radius: 2vw;
  display: flex;
  margin-left: 20%;
}

.titulo{
  font-size: 120%;
  text-align: center;
  margin-top: 2%;
  border: 2px solid #735286;
  padding: 1%;
  border-radius: 2vw;
  background-color: #ffffff;
}

.comienzo {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  padding: 2%;
  border-radius: 3vw;
}

.parrafos {
  text-align: justify;
  margin: 2%;
  padding: 2%;
  font-size: 100%;
  line-height: 150%;
  background-color: #b1a1eb;
  border-radius: 5vw;
}

.primerparrafo {
  background-color: #ffffff;
  border-radius: 5vw;
  padding: 3%;
  margin: 2%;
}
.projects {
  display: flex;
  text-align: center;
  margin: 2%;
  padding: 2%;
  background-color: #ffffff;
  width: 50vw;
  justify-content: center;
  border-radius: 2vw;
}
.segundoparrafo {
  background-color: #ffffff;
  border-radius: 5vw;
  padding: 3%;
  margin: 2%;
}

.tercerparrafo {
  background-color: #ffffff;
  border-radius: 5vw;
  padding: 3%;
  margin: 1%;
  margin-top: 0;
}

.cuartoparrafo {
  background-color: #ffffff;
  border-radius: 5vw;
  padding: 3%;
  margin: 2%;
}

.nvidiavideo {
  width: 65vw;
  height: auto;
  padding: 2%;
  margin: 2%;
  justify-content: center;
}

.quintoparrafo {
  background-color: #ffffff;
  border-radius: 5vw;
  padding: 3%;
  margin: 2%;
}

.linus {
  width: 60vw;
  height: auto;
  padding: 2%;
  margin-top: 1%;
}

ul {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

ol {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

aside {
  display: flex;
  flex-direction: row;
  gap: 1%;
  padding: 3%;
  justify-content: center;
  flex-wrap: nowrap;
}

.linustorvalds {
  padding: 5%;
  text-align: center;
  width: 60vw;
  border: 5vw solid #d9d9d9;
  height: 22vh;
  background-color: #ffffff;
  max-height: 22vh;
  
}

.bill {
  width: 30vw;
  height: auto;
  border-radius: 10%;
}

.kaspersky {
  padding: 5%;
  text-align: center;
  width: 35vw;
  margin-left: 2%;
  border: 5vw solid #d9d9d9;
  background-color: #ffffff;
  height: 19vh;
  max-width: 32vh;
  max-height: 19vh;
}

.kasperskyimg {
  width: 20vw;
  height: auto;
  border-radius: 10%;
}

footer {
  background-image: url(fondomorao.jpg);
  text-align: center;
  padding: 2%;
  margin-top: 5%;
  font-size: 80%;
  color: white;
  padding: 5%;
  width: 90%;
}

.fuentes {
  padding: 2%;
  text-align: left;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #8258ff;
  transition: 1s;
}
.gal{
  background-color: #ffffff;
  text-align: center;
  border-radius: 3em;
  padding: 2%;
}
.carrusel{
  margin: 1em ;
  display: flex;
  gap: 2em;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  anchor-name: --carrusel;
  scroll-snap-type: x mandatory;

}
.carrusel::-webkit-scrollbar {
  display: none;
}

.carrusel::scroll-button(right), .carrusel::scroll-button(left)  {
   content: '>';
   border: none;
   background-color: #8258ff;
   height: 60px;
   width: 60px;
   border-radius: 50%;
   padding-bottom: .1em;
   cursor: pointer;
   position: fixed;
   position-anchor: --carrusel;
   position-area: right center;
   translate: -120%;
   
}
.carrusel::scroll-button(right):disabled, .carrusel::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: auto;
}
.carrusel::scroll-button(left) {
  content: '<';
  position-area: left center;
  translate: 80%;

}

.card {
  flex: 0 0 20em;
  height: 30vh;
  padding: 1em;
  border-radius: .5em;
  text-align: center;
  align-content: center;
  scroll-snap-align: start;
  flex-wrap: nowrap;


}

.linuses {
  width: 80vw;
  height: auto;

}
#linuspoto {
margin-right: 15%;
}

#linuspoto2 {
margin-left: 3%;

}
@media (min-width: 1024px) {
  header {
    width: 96%;
  }
  .logotux {
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    margin-right: 1vw;
    margin-top: 15%;
  }
  .headertext {
    margin-top: 20%;
    width: 100%;
  }
  .logotux:hover {
    transform: scale(1.09);
    transition-duration: 1s;
  }
  .redeslogos:hover {
    transform: scale(1.5);
    transition-duration: 1s;
  }

  .redeslogos {
    width: 4vw;
    height: auto;
    margin-right: 2%;
    margin-top: 3%;
  }
  .titulo {
    font-size: 200%;
    margin-top: 2%;
    border: 2px solid #735286;
    padding: 1%;
    border-radius: 2vw;
  }
  .comienzo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2%;
    padding: 0%;
    border-radius: 3vw;
    margin-top: 0%;
    margin-top: 1%;
  }
  .linus {
    display: flex;
    justify-content: center;
    height: auto;
    width: 60vw;
  }
  .parrafos {
    font-size: 110%;
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
  }
  .primerparrafo {
    padding: 6%;
  }
  .segundoparrafo {
    padding: 6%;
  }
  .tercerparrafo {
    padding: 6%;
  }
  .cuartoparrafo {
    padding: 6%;
  }
  .quintoparrafo {
    padding: 6%;
  }

  .contenedorprincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 90%;
    max-width: 1200px;
    margin-top: 2%;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .datos {
    display: flex;
    justify-content: center;
    width: 30vw;
  }
  .nvidiavideo {
    display: flex;
    width: 30vw;
    max-width: 30vw;
    height: auto;
    padding: 2%;
    margin: 2%;
    justify-content: center;
  }

  .linustorvalds {
    width: 12vw;
    height: 30vh;
    border: 12px solid #d9d9d9;
    padding: 7%;
    margin: 3%;
    max-height: 30vh;
    
  }
  .bill {
    width: 10vw;
    height: auto;
    border-radius: 10%;
  }

  .kaspersky {
    width: 10vw;
    height: 35vh;
    border: 12px solid #d9d9d9;
    padding: 6%;
    max-height: 30vh;
  }

  .kasperskyimg {
    width: 10vw;
    height: auto;
    border-radius: 10%;
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer {
    font-size: 100%;
  }
.carrusel{
  margin: 3em auto;
  display: flex;
  gap: 3em;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  anchor-name: --carrusel;
  scroll-snap-type: x mandatory;

}
.carrusel::-webkit-scrollbar {
  display: none;
}

.carrusel::scroll-button(right), .carrusel::scroll-button(left)  {
   content: '>';
   border: none;
   background-color: #8258ff;
   height: 60px;
   width: 60px;
   border-radius: 50%;
   padding-bottom: .1em;
   cursor: pointer;
   position: fixed;
   position-anchor: --carrusel;
   position-area: right center;
   translate: -100%;
   
}
.carrusel::scroll-button(right):disabled, .carrusel::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: auto;
}
.carrusel::scroll-button(left) {
  content: '<';
  position-area: left center;
  translate: 100%;

}

.card {
  flex: 0 0 20em;
  height: 30vh;
  padding: 1em;
  border-radius: .5em;
  text-align: center;
  align-content: center;
  scroll-snap-align: start;


}

.linuses {
  width: 20vw;
  height: auto;
}
}
